body {
  font-family: Arial, Helvetica, sans-serif;
background-color: #ffffff;
background-image: url("./Images/b1.jpg");
background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
     }

/* Nav info */

.logo{
    text-align: center;
}

.navbar {
  width: 101%;
  background-color: #33664d;
  overflow: auto;
  opacity: 0.56;
  display: flex;
  flex-direction: row;
  text-align: center;
}

.navbar a {
  color: orange;
  font-size: 20px;
  text-align: center;
  display: flex;
  flex-direction: column-reverse;
  text-align: center;
}

.navbar a:hover {
  background-color: #322f2f;
    text-decoration: none;
  color: #68C54D;

}
  .mobile {
  display: none;
}

.active {
 /* background-color: #dce5e2; */
}

/* Nav info */

/* carousel  */


.card.card-carousel {
    border: 0;
    margin-bottom: 30px;
    margin-top: 30px;
    border-radius: 6px ;
    color: rgba(0,0,0,.87);
    background: #fff;
    width: 100%;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
}

.card.card-carousel img{
    border-radius: 6px;
}

.carousel-indicators {
    position: absolute;
    right: 0;
    bottom: 10px;
    left: 0;
    z-index: 15;
    display: flex;
    justify-content: center;
    padding-left: 0;
    margin-right: 15%;
    margin-left: 15%;
    list-style: none;
}

.carousel .carousel-indicators {
    bottom: 5px;
}

.carousel .carousel-indicators li {
    display: inline-block;
    width: 10px;
    height: 10px;
    text-indent: -999px;
    cursor: pointer;
    border: 1px solid #fff;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.12), 0 1px 5px 0 rgba(0,0,0,.2);
    border-radius: 2px;
}

.carousel .carousel-indicators .active{
    margin: 11px 10px; 
} 

.carousel .carousel-indicators li {
    margin: 11px 10px;
}

.carousel .carousel-indicators .active {
    margin-top: 10px;
    transform: scale(1.5);
    box-shadow: 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12), 0 2px 4px -1px rgba(0,0,0,.2);
}

.carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.carousel-item {
    position: relative;
    display: none;
    align-items: center;
    width: 100% !important;
    transition: transform .6s ease;
    backface-visibility: hidden;
    perspective: 1000px;
}

.carousel-item.active {
    display: block;
}

.carousel .carousel-caption {
    padding-bottom: 45px;
}

.carousel .carousel-caption .material-icons {
    position: relative;
    top: 5px;
}

.carousel .carousel-control-next .material-icons{
    z-index: 5;
    display: inline-block;
    font-size: 50px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 50px;
    margin: auto;
}

.carousel .carousel-control-prev .material-icons {
    z-index: 5;
    display: inline-block;
    font-size: 50px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 50px;
    margin: auto;
}

/* carousel  */


/* jumbotron  */




.jumbotron{
  display: flex;
  align-items: center;
}


.row1{
  
  display: flex;
  flex-direction: row;
  padding: 32px;
  align-items: center;
}


.img-fluid{
    width:50%;

    height: auto;

}












.card-img-overlay{
  color: red; 
}













@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
  }


@media only screen and (max-width: 600px) {
  .navbar  {
    display: none;
  }
    header .mobile {
    display: block;
    width: 100%;

  }

  header .content {
    padding: .5rem 0;

  }

  header .mobile ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    list-style-type: none;
  }